<html>
<head>
</head>
<body>

<table border="1">
<tr>
<td>Asset name</td><td>Request %</td>
</tr>
{% for asset_name, d in asset_names.items %}
<tr>
<td>{{ asset_name }}</td><td>{{ d }}</td>
</tr>
{% endfor %}
</table>

<br>

<table border="1">
<tr>
<td>Country</td><td>Request %</td>
</tr>
{% for country, d in countries.items %}
<tr>
<td>{{ country }}</td><td>{{ d }}</td>
</tr>
{% endfor %}
</table>

<br>

<table border="1">
<tr>
<td>User ID</td><td>Total viewing time (seconds)</td><td>Total data sent (ko)</td>
</tr>
{% for user, d in users.items %}
<tr>
<td>{{ user }}</td><td>{{ d.0 }}</td><td>{{ d.1 }}</td>
</tr>
{% endfor %}
</table>

</body>
</html>
