<html>
<head>
</head>
<body>

{% block form %}
<form name="input" action="" method="post">
{% csrf_token %}
<select name="stats_type">
<option value="users">Users</option>
<option value="countries">Countries</option>
<option value="asset_names">Asset names</option>
</select>
<select name="stats_time">
{% for delta in time_delta %}
<option value="{{ delta }}">Last {{ delta }} hours</option>
{% endfor %}
</select>
<input type="submit" value="Get stats" />
</form>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
